<app-nav-bar-blank></app-nav-bar-blank>

<div class="ca-background">
  <div class="ca-content">
    <div class="ca-user-form">
      <h5>New Account</h5>
      <div class="authBlock">
        <h3>Sign Up</h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Firstname" [(ngModel)]="service.formData.firstName" #firstName required>
        </div>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Lastname" [(ngModel)]="service.formData.lastName" #lastName>
        </div>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Company" [(ngModel)]="service.formData.company" #company>
        </div>
        <div class="formGroup">
          <input type="phone" class="formControl" placeholder="Landline" [(ngModel)]="service.formData.landline" #landline>
        </div>
        <div class="formGroup">
          <input type="phone" class="formControl" placeholder="Mobile" [(ngModel)]="service.formData.mobile" #mobile>
        </div>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" [(ngModel)]="service.formData.email" #userEmail required>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Sign Up" (click)="onSubmit(userEmail.value, userPassword.value)">
        </div>
     </div>
    </div>
  </div>
</div>

