<div class="l-container">
  <h3 class="l-greeting">Hello!</h3>
  <div class="authBlock">
    <h3>Sign In</h3>
    <div class="formGroup">
      <input type="text" class="formControl" placeholder="Username" #email required>
    </div>
    <div class="formGroup">
      <input type="password" class="formControl" placeholder="Password" #password required>
    </div>
    <div class="formGroup">
      <input type="button" class="btn btnPrimary" value="Log in" (click)="authenticationService.SignIn(email.value, password.value)">
    </div>
 </div>
  
</div>