<app-nav-bar></app-nav-bar>

<video id="videoBG" poster="./assets/VideoBackground/walking-streets-poster.jpg" autoplay muted loop>
 <source src="./assets/VideoBackground/walking-streets.mp4" type="video/mp4">
</video>

<div class="lp-content">
  <div class="lp-sub-content">
    <div class="lp-content-header header-name row">
      <h2>Modern Directory</h2>
    </div>
    <div class="lp-content-header header-slogan row">
      <p>
        Expanding your network <br>with a single search...
      </p>
    </div>
    <button class="button-animation" routerLink="existing" type="button">Get Started</button>
  </div>
</div>